<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{%trans%}AMB_ADMIN_PANEL_TITLE{%endtrans%}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="uncle_empty">

    <!-- Le styles -1
    <link href="http://twitter.github.com/bootstrap/assets/css/bootstrap.css" rel="stylesheet">
    <link href="http://twitter.github.com/bootstrap/assets/css/bootstrap-responsive.css" rel="stylesheet">
    -->
    <link href="{{asset('bootstrap/css/bootstrap.css')}}" rel="stylesheet">
    <link href="{{asset('bootstrap/css/bootstrap-responsive.min.css')}}" rel="stylesheet">

    <style>
        body {
            padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
        }


        .bundle_panel .bundle_item {
            text-align: center;
            margin-top: 5px;
            margin-right: 5px;
            margin-bottom: 5px;
            margin-left: 5px;
            width: 135px;
            height: 97px;
            float: left;
            padding:5px 5px 5px 5px;
            margin-bottom: 15px;

        }

        .bundle_panel .bundle_item a {
            background-color: #fff;
            background-position: -30px;
            display: block;
            float: left;
            height: auto;
            width: 135px;
            color: #565656;
            vertical-align: middle;
            text-decoration: none;
            border: 1px solid #CCC;

            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            border-radius: 5px;
            -webkit-transition-property:
                background-position,
                -webkit-border-bottom-left-radius,
                -webkit-box-shadow;
            -moz-transition-property:
                background-position,
                -moz-border-radius-bottomleft,
                -moz-box-shadow;
            -webkit-transition-duration: 0.8s;
            -moz-transition-duration: 0.8s;
            word-wrap: break-word;
            padding-bottom: 5px;
        }

        .bundle_panel .bundle_item a span{
            margin-left: 10px;
            margin-right: 10px;
        }


        .bundle_panel .bundle_item img{
            margin-top: 15px;
        }

        .bundle_panel .bundle_item a:hover,
        .bundle_panel .bundle_item a:focus,
        .bundle_panel .bundle_item a:active,
        .bundle_panel .bundle_item a:hover,
        .bundle_panel .bundle_item a:focus,
        .bundle_panel .bundle_item a:active {
            background-position: 0;
            -webkit-border-bottom-left-radius: 50% 20px;
            -moz-border-radius-bottomleft: 50% 20px;
            border-bottom-left-radius: 50% 20px;
            -webkit-box-shadow: -5px 10px 15px rgba(0, 0, 0, 0.25);
            -moz-box-shadow: -5px 10px 15px rgba(0, 0, 0, 0.25);
            box-shadow: -5px 10px 15px rgba(0, 0, 0, 0.25);
            position: relative;
            z-index: 10;
        }

        .bundle_panel{
            background-color: #ff0000;
        }

        span.error {
            display: block;
            color: #880000;
            font-weight: bold;
        }
    </style>
    <script type="text/javascript">
        {% if app.request.locale == 'en' %}
            var globalLanguage = 'en';
        {% endif %}
        {% if app.request.locale == 'ru' %}
            var globalLanguage = 'ru';
        {% endif %}
    </script>

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="{{asset("jquery/html5.js")}}"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="{{asset("favicon.ico")}}">
    
    <script src="{{asset("js/jquery-1.10.2.min.js")}}"></script>   
    <script src="{{asset("js/jquery-migrate-1.2.1.min.js")}}"></script>   
    <script src="{{asset("bootstrap/js/bootstrap.js")}}"></script>
  </head>

  <body>
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="#">Turan</a>
          <div class="nav-collapse">
            <ul class="nav">
            {%block nav %}  
                           <li><a href="{{path ('_admin_main_homepage')}}">{%trans%}AMB_DASHBOARD_TITLE{%endtrans%}</a></li>
                           {#<li style="position: fixed; margin-left: -23%"><a href="{{ path('admin_news_regenerateJSONS') }}">REGEN</a></li>
                           <li style="position: fixed; margin-left: -20%"><a href="{{ path('admin_news_lastNewsJSON') }}">REGEN_LAST_NEWS</a></li>#}
                           <li style="position: fixed; margin-left: 73%;"><a href="{{ path('logout') }}">{%trans%}AMB_LOGOUT{%endtrans%}</a></li>
                           {% if app.request.locale == 'ru' %}
                               <li style="margin-left: 68%; position: fixed;"><a href="{{ path('_admin_change_locale', { 'locale': 'ru' }) }}" style="text-decoration: underline">RU</a></li>
                           {% else %}
                               <li style="margin-left: 68%; position: fixed;"><a href="{{ path('_admin_change_locale', { 'locale': 'ru' }) }}">RU</a></li>
                           {% endif %}
                           <li style="cursor: default"></li>
                           {% if app.request.locale == 'en' %}
                               <li style="margin-left: 69.3%; position: fixed;"><a href="{{ path('_admin_change_locale', { 'locale': 'en' }) }}" style="text-decoration: underline; float:right">EN</a></li>
                           {% else %}
                               <li style="margin-left: 69.3%; position: fixed;"><a href="{{ path('_admin_change_locale', { 'locale': 'en' }) }}">EN</a></li>
                           {% endif %}
              {%endblock nav%}
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container">
      {%block page_title_h1 %}
        <h1>{%trans%}AMB_ADMIN_DASHBOARD_TITLE{%endtrans%}</h1>
      {%endblock page_title_h1 %}
        
    {% for flashMessage in app.session.flashbag.get('success') %}
        <div class="alert alert-success">
            <a class="close" data-dismiss="alert">×</a>
            {{ flashMessage }}
        </div>
    {% endfor %}     
        
    {% for flashMessage in app.session.flashbag.get('notice') %}
        <div class="alert alert-info">
            <a class="close" data-dismiss="alert">×</a>
            {{ flashMessage }}
        </div>
    {% endfor %}     
        
    {% for flashMessage in app.session.flashbag.get('error') %}
        <div class="alert alert-error">
            <a class="close" data-dismiss="alert">×</a>
            {{ flashMessage }}
        </div>
    {% endfor %}
        
    {%block container %}

    
    {#<div class="alert alert-error file-not-allowed">
        <a class="close" data-dismiss="alert">×</a>
        {%trans%}AMB_GALLERY_NOT_WORKING_YET{%endtrans%}
    </div>#}
        <div class="bundle_panel">

            <div class="bundle_item">
                <a title="{{ 'AMB_ADMINS_MANAGER' | trans }}" href="{{path ('_admin_user_management')}}">
                    <img src="{{asset("img_admin/icon-48-user.png")}}" alt=""><br>
                    <span>{{ 'AMB_ADMINS_MANAGER' | trans }}</span>
                </a>
            </div>

            <div class="bundle_item">
                <a title="{{ 'AMB_PAGE_MANAGER' | trans }}" href="{{path ('_adminpage_index')}}">
                    <img src="{{asset("img_admin/icon-48-content.png")}}" alt=""><br>
                    <span>{{ 'AMB_PAGE_MANAGER' | trans }}</span>
                </a>
            </div>

            <div class="bundle_item">
                <a title="{{ 'AMB_NEWS_MANAGER' | trans }}" href="{{path ('admin_news_homepage')}}">
                    <img src="{{asset("img_admin/icon-48-article.png")}}" alt=""><br>
                    <span>{{ 'AMB_NEWS_MANAGER' | trans }}</span>
                </a>
            </div>

            <div class="bundle_item">
                <a title="{{ 'AMB_GALLERY_MANAGER' | trans }}" href="{{path ('admin_gallery_homepage')}}">
                    <img src="{{asset("img_admin/icon-48-media.png")}}" alt=""><br>
                    <span>{{ 'AMB_GALLERY_MANAGER' | trans }}</span>
                </a>
            </div>
            {% if is_granted('ROLE_RESTAURANT_MANAGER') or is_granted('ROLE_SUPER_ADMIN') %}
                <div class="bundle_item">
                    <a title="{{ 'AMB_ORDERS_MANAGER' | trans }}" href="{{path ('admin_order_list')}}">
                        <img src="{{asset("img_admin/icon-48-writemess.png")}}" alt=""><br>
                        <span>{{ 'AMB_ORDERS_MANAGER' | trans }}</span>
                    </a>
                </div>
            {% endif %}

      </div>

    {%endblock container%}
   </div>
  
  <script>
	$(function() {
	  $( ".bundle_item" ).show( 'drop',600);
          
        });
 
   </script>

    <!--  
    <script src="http://twitter.github.com/bootstrap/assets/js/jquery.js"></script>
    <script src="http://twitter.github.com/bootstrap/assets/js/bootstrap-transition.js"></script>
    <script src="http://twitter.github.com/bootstrap/assets/js/bootstrap-alert.js"></script>
    <script src="http://twitter.github.com/bootstrap/assets/js/bootstrap-modal.js"></script>
    <script src="http://twitter.github.com/bootstrap/assets/js/bootstrap-dropdown.js"></script>
    <script src="http://twitter.github.com/bootstrap/assets/js/bootstrap-scrollspy.js"></script>
    <script src="http://twitter.github.com/bootstrap/assets/js/bootstrap-tab.js"></script>
    <script src="http://twitter.github.com/bootstrap/assets/js/bootstrap-tooltip.js"></script>
    <script src="http://twitter.github.com/bootstrap/assets/js/bootstrap-popover.js"></script>
    <script src="http://twitter.github.com/bootstrap/assets/js/bootstrap-button.js"></script>
    <script src="http://twitter.github.com/bootstrap/assets/js/bootstrap-collapse.js"></script>
    <script src="http://twitter.github.com/bootstrap/assets/js/bootstrap-carousel.js"></script>
    <script src="http://twitter.github.com/bootstrap/assets/js/bootstrap-typeahead.js"></script>
   -->
  </body>
</html>
