{% extends "::base.html.twig" %}

{% block content %}
<link rel="stylesheet" href="{{ asset('omlook/css/recover.css') }}" type="text/css" media="all" />

<script>
    
    $(document).ready(function() {
        
        $('#omlook_userbundle_coreusertype_defaultCountry').removeAttr("required");
        
    });
    
</script>

<div class="form" >
    <div class="">
		<div class="content">
			<div class="row-fluid">
				<div class="span6 well" style=" float: none; margin: 20px auto 20px auto;">     
					<div class="reg">
						<h4>{%trans%}UB_REGISTER_TITLE{%endtrans%}</h4>
						{#{% if app.session.hasFlash('notice') %}
						<div class="alert alert-error" id="box_error">
								<a class="close" title="Close" data-dismiss="alert" href="#">×</a>
								<p class="box_title"></p>
							<div class="box_text">
							{{ app.session.flash('notice') }}
							</div>
						</div>
						{% endif %}#}
						<form action="{{ path('_registerpage_save') }}" method="post" {{ form_enctype(form) }}>
							<div class="register_min_in">
								{{ form_errors(form) }}
								<div style="text-align: right; ">
									<div class="register_min row-fluid ">
										<div class="register_usertext span4" >{{ form_label(form.userType) }}</div>
										<div class="reg_username span4">{{ form_widget(form.userType, { 'attr': {'class': 'username2'} }) }}</div>
										<div class="clearfix"></div>
										{{ form_errors(form.userType)}}
									</div>
									<div class="register_min row-fluid">
										<div class="register_usertext span4">{{ form_label(form.defaultLanguage) }}</div>
										<div class="username0 span4">
											<div class="wearch ">{{ form_widget(form.defaultLanguage, { 'attr': {'class': 'username2'} }) }}</div>
										</div>
										<div class="clearfix"></div>
										{{ form_errors(form.defaultLanguage) }}
									</div>
                                                                        <script>
                                                                            $(document).ready(function() {
                                                                                $('#omlook_userbundle_coreusertype_login').removeAttr('pattern');
                                                                            });
                                                                        </script>
									<div class="register_min row-fluid">
										<div class="register_usertext span4">{{ form_label(form.login) }}</div>
										<div class="username0 span4">
											<div class="wearch ">{{ form_widget(form.login, { 'attr': {'class': 'username2'} }) }}</div>
										</div>
										<div class="clearfix"></div>
										{{ form_errors(form.login) }}
									</div>
									<div class="register_min row-fluid">
										<div class="register_usertext span4">{{ form_label(form.password) }}</div>
										<div class="username0 span4">
											<div class="wearch ">{{ form_widget(form.password.password, { 'attr': {'class': 'username2'} }) }}</div>
										</div>
										<div class="clearfix"></div>
										{{ form_errors(form.password) }}
									</div>
									<div class="register_min row-fluid">
										<div class="register_usertext span4">{{ form_label(form.password.password_confirm) }}</div>
										<div class="username0 span4">
											<div class="wearch ">{{ form_widget(form.password.password_confirm, { 'attr': {'class': 'username2'} }) }}</div>
										</div>
										<div class="clearfix"></div>
										{{ form_errors(form.password.password_confirm) }}
									</div>
									<div class="register_min row-fluid">
										<div class="register_usertext span4">{{ form_label(form.email) }}</div>
										<div class="username0 span4">
											<div class="wearch ">{{ form_widget(form.email.email, { 'attr': {'class': 'username2'} }) }}</div>
										</div>
										<div class="clearfix"></div>
										{{ form_errors(form.email) }}
									</div>
									<div class="register_min row-fluid">
										<div class="register_usertext span4">{{ form_label(form.email.email_confirm) }}</div>
										<div class="username0 span4">
											<div class="wearch ">{{ form_widget(form.email.email_confirm, { 'attr': {'class': 'username2'} }) }}</div>
										</div>
										<div class="clearfix"></div>
										{{ form_errors(form.email.email_confirm) }}
									</div>
									<div class="register_min row-fluid">
										<div class="register_usertext span4">{{ form_label(form.defaultTimezone) }}</div>
										<div class="username0 span4">
											<div class="wearch ">{{ form_widget(form.defaultTimezone, { 'attr': {'class': 'username2'} }) }}</div>
										</div>
										<div class="clearfix"></div>
										{{ form_errors(form.defaultTimezone) }}
									</div>
									<div class="register_min row-fluid">
										<div class="register_usertext span4">{{ form_label(form.defaultCountry) }}</div>
										<div class="username0 span4">
											<div class="wearch ">{{ form_widget(form.defaultCountry, { 'attr': {'class': 'username2'} }) }}</div>
										</div>
										<div class="clearfix"></div>
										{{ form_errors(form.defaultCountry) }}
									</div>
									<div class="register_min row-fluid" style="margin-left: 200px;">
										<div class="username0 span">
											<div class="wearch ">{{ form_widget(form.agreed, { 'attr': {'class': 'username2'} }) }}</div>
										</div>
										<div class="register_usertext-last span4">
											{{ form_label(form.agreed) }}
												<a  class="terms" target="_blank" href="{{ path('OmlookPageBundle_homepage', { 'SEO_URL': 'agreement_safe_transaction','required': 'false' }) }}" title="" >{%trans%}UB_AGREEMENT_AGREEMENT{%endtrans%}</a>
										</div>
										<div class="clearfix"></div>
									</div>
									{{ form_errors(form.agreed) }}
									<div class="clearfix"></div>
								{{ form_rest(form) }}   
								</div>
							</div>
							<div class="recover_button0 ">
								<div class="recover_button"  style="margin: 10px auto;">
									<button type="submit" name="" title="{%trans%}UB_REGISTER{%endtrans%}" class="btn btn-info btn-large"><i class="icon-ok-sign icon-white"></i> &nbsp;{%trans%}UB_REGISTER{%endtrans%}</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
 </div>
{% endblock content %}
{##}