{% extends 'AdminMainBundle:Default:index.html.twig' %}

{%block page_title_h1 %}
    <h1 style="display: inline">
        {%trans%}APB_PAGE_DASHBOARD{%endtrans%}
        <a href="{{ path('_admin_main_homepage') }}" class="btn btn-primary">
            {%trans%}APB_BACK{%endtrans%}
        </a>
    </h1>
{%endblock page_title_h1 %}

{% block container %}
                
    {% block javascripts %}

            <script>
                
                $(document).ready(function() {
                    
                    CKEDITOR.replace( 'admin_pagebundle_staticpage_pageBody', { toolbar: 'Full' } );
                    
                });
                
            </script>

            <script type="text/javascript" src="{{ asset('js/ckeditor/ckeditor.js') }}"></script>
            <script type="text/javascript" src="{{ asset('js/ckeditor/ckeditor.config.js') }}"></script>

    {% endblock javascripts %}
    
    <br />
    
    <form action="{{ path('_adminpage_staticpage_create') }}" method="POST" {{ form_enctype(form) }} >
        {{ form_errors(form) }}
                
        {{ form_widget(form) }}
                    
        {{ form_rest(form) }}
            
        <input type="submit" value="{%trans%}APB_CREATE{%endtrans%}" class="btn btn-success">
        
    </form>
    
{% endblock container %}
