{% extends 'AdminMainBundle:Default:index.html.twig' %}

{%block page_title_h1 %}
    <h1 style="display: inline">
        {%trans%}AB_ADMINS_DASHBOARD{%endtrans%}
        <a href="{{ path('_admin_main_homepage') }}" class="btn btn-primary">
            {%trans%}AB_BACK{%endtrans%}
        </a>
    </h1>
{%endblock page_title_h1 %}

{% block container %}

<script>
    
    $(document).ready(function() {
        
        $('#admin_mainbundle_admin_password').attr('value', "");
        
    });
    
</script>
    
    <br />
    
    <form action="{{ path('_admin_administrators_saveAdminInfo', { 'id': adminID }) }}" method="POST" {{ form_enctype(form) }} >
        {{ form_errors(form) }}
                
        {{ form_widget(form) }}
                    
        {{ form_rest(form) }}
            
        <input type="submit" value="{%trans%}ABB_SAVE{%endtrans%}" class="btn btn-success">
        
    </form>
    
{% endblock container %}
