{% extends 'AdminMainBundle:Default:index.html.twig' %}

{%block page_title_h1 %}
    <h1 style="display: inline">
        {%trans%}AMB_ADMINS_DASHBOARD{%endtrans%}
        <a href="{{ path('_admin_user_management') }}" class="btn btn-primary">
            {%trans%}AMB_BACK{%endtrans%}
        </a>
    </h1>
{%endblock page_title_h1 %}

{% block container %}
    <br />
    
    <table class="table table-bordered table-striped">
        
        <thead>
            
            <th>
                {%trans%}AMB_ADMINS_ID{%endtrans%}
            </th>
            
            <th>
                {%trans%}AMB_ADMINS_LOGIN{%endtrans%}
            </th>
            
            <th>
                {%trans%}AMB_ADMINS_ROLES{%endtrans%}
            </th>
            
            <th>
                {%trans%}AMB_ADMINS_CREATEDAT{%endtrans%}
            </th>
            
            <th>
                {%trans%}AMB_ADMINS_CREATEDBY{%endtrans%}
            </th>
            
            <th>
                {%trans%}AMB_ADMINS_ACTIONS{%endtrans%}
            </th>
            
        </thead>
        
        <tbody>
            {% for administrator in admins %}

                <tr>
                    
                    <td>
                        {{ administrator.id }}
                    </td>
                    
                    <td>
                        {{ administrator.login }}
                    </td>
                    
                    <td>
                        {% for role in administrator.userRoles %}
                            
                            {{ role.name }}
                            {% if loop.index != administrator.userRoles.count %}<br />{% endif %}
                            
                        {% endfor %}
                    </td>
                    
                    <td>
                        {{ administrator.createdAt | date("Y-m-d H:i:s") }}
                    </td>
                    
                    <td>
                        {% if administrator.createdBy != null %}
                            {{ administrator.createdBy.login }}
                        {% endif %}
                    </td>
                    
                    <td style="display:inline-block">
                        <a href="{{ path('_admin_administrators_viewAdminInfo', { 'id': administrator.id }) }}" class="btn btn-primary">{%trans%}AMB_ADMINS_EDIT{%endtrans%}</a>
                        {#<a href="#" class="btn btn-inverse">{%trans%}AB_ADMIN_SHOWLOGS{%endtrans%}</a>#}
                        <a href="{{ path('_admin_administrators_deleteAdmin', { 'id': administrator.id }) }}" class="btn btn-danger">{%trans%}AMB_ADMINS_DELETE{%endtrans%}</a>
                    </td>
                    
                </tr>

            {% endfor %}
        </tbody>
        
    </table>
    
{% endblock container %}
