
<thead>

<th>
    {%trans%}AOB_ORDER_ID{%endtrans%}
</th>

<th>
    {%trans%}AOB_ORDER_DATE{%endtrans%}
</th>

<th>
    {%trans%}AOB_ORDER_HALL{%endtrans%}
</th>

<th>
    {%trans%}AOB_ORDER_CONTACT_PERSON{%endtrans%}
</th>

<th>
    {%trans%}AOB_ORDER_CONTACT_PHONE{%endtrans%}
</th>

<th>
    {%trans%}AOB_ORDER_STATUS{%endtrans%}
</th>

<th>
    {%trans%}AOB_ORDER_ACTIONS{%endtrans%}
</th>

</thead>

<tbody>
{% if orders == NULL%}
<tr>
    <td colspan="7"><i>{% trans %}AOB_NO_ORDERS{% endtrans %}</i></td>
</tr>
{% endif %}
{% for order in orders %}

    <tr>

        <td>
            {{ order.id }}
        </td>

        <td>
            {{ order.dateOrder | date('Y-m-d H:i') }}
        </td>

        <td>
            {{ order.hall.name | trans }}
        </td>

        <td>
            {{ order.contactName }}
        </td>

        <td>
            {{ order.contactPhone }}
        </td>

        <td>
            {{ order.ordersStatus.alias | trans }}
        </td>

        <td>
            {% if order.ordersStatus.id != 4 %}
                <a href="#" class="btn btn-inverse remove-order" data-ajax-url="{{ path('admin_order_delete', { 'orderId': order.id }) }}" data-id="{{order.id}}">{%trans%}AOB_ORDER_DELETE{%endtrans%}</a>
            {% endif %}
            <a href="#" class="btn btn-danger view-order" data-ajax-url="{{ path('admin_order_view', { 'orderId': order.id }) }}">{%trans%}AOB_ORDER_VIEW{%endtrans%}</a>
        </td>

    </tr>

{% endfor %}
</tbody>