
<table width="100%" bgcolor="#EFEFEF" style="margin:0!important;border-collapse:collapse" cellpadding="0" cellspacing="0" border="0"><tbody><tr><td><center><table border="0" cellpadding="0" cellspacing="0" style="width:650px;text-align:left"><tbody><tr>
                    <td colspan="2" height="20" bgcolor="#EFEFEF"></td>
                    </tr>
                    <tr>
                        <td colspan="2" style="background-color: rgb(63, 14, 54)">
                            <a href="http://turan.by" target="_blank">
                              <img src="http://turan.by/img/logo.png" style="margin: 10px 10px;height: 125px;width: 200px;" border="0" height="46">
                            </a>
                        </td>
                    </tr>

                    <tr bgcolor="#FFFFFF">
                        <td height="10" colspan="2"></td>
                    </tr>
                    <tr bgcolor="#FFFFFF" valign="top"><td colspan="2" valign="top" width="650" style="font-family:sans-serif;padding:20px"><div style="width:100%">
                                <p style="font-family:arial,helvetica,sans-serif;color:rgb(63, 14, 54);font-size:16px;font-weight:bold">
                                   Поступил новый заказ!
                                </p>

                                <p style="font-size:13px;color:#4d4d4d;line-height:25px;font-family:arial,helvetica,sans-serif">

                                    Номер заказа: {{ order.id}} <br>
                                    Дата и время: {{ order.dateOrder | date('d-m-Y H:i') }} <br>
                                    Зал и количество мест: {{ order.hall.name | trans }}  - {{ order.seatsQuantity }}<br>
                                    Контактное лицо: {{ order.contactName }} <br>
                                    Контактный телефон: {{ order.contactPhone }}  <br>
                                    Контактный e-mail: {{ order.contactEmail }}  <br>

                                    Дополнительная информация: <a href="http://turan.by/admin/web/admin/orders/list">http://turan.by/admin/web/admin/orders/list</a>

                                </p>
                            </div>
                        </td>
                    </tr>

                    <td colspan="2" height="20" bgcolor="#EFEFEF"></td>
                    </tr>
                    </tbody></table>
            </center>
        </td>
    </tr>
    </tbody></table>